{% extends "layouts/base.html" %}

{% block title %} Colors {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="body flex-grow-1 px-3">
  <div class="container-lg">
    <div class="card mb-5">
      <div class="card-header">Normal Encryption Test</div>
      <div class="card-body">
        <div class="row">
          <form class="was-validated" method="POST" action="" enctype="multipart/form-data" id="form">
          
            <div class="form-group">
                <label for="encryptionMethod">Encryption Method</label>
                <select class="custom-select form-control"name="encryptionMethod"  required >
                  <option value="" >Select Encryption Method</option>
                  <option value="ntru">NTRU</option>
                  <option value="ecc">ECC</option>
                  <option value="elGamal">El Gamal</option>
                  <option value="rsa">RSA</option>
                </select>
                <div class="invalid-feedback">Select one</div>
                
            </div>
            <div class="form-group">
              <label for="securityLevel">Security Level</label>
              <select class="custom-select form-control"name="securityLevel"  required >
                <option value="" >Select Security Level</option>
                <option value="112">112</option>
                <option value="128">128</option>
                <option value="192">192</option>
                <option value="256">256</option>
                <option value="all">All Level</option>
              </select>
              <div class="invalid-feedback">Select one</div>
              
          </div>
            <button type="submit" class="btn btn-primary" id="submit" name="submit">Submit</button>
        </form>
          
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <!-- Plugins and scripts required by this view-->
  <script src="/static/assets/vendors/@coreui/utils/js/coreui-utils.js"></script>
  <script src="/static/assets/js/colors.js"></script>
  <script>
  </script>

{% endblock javascripts %}
